<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lidu.me.creditcardguide">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="lidu.me.creditcardguide.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BaseTheme">

        <activity android:name="lidu.me.creditcardguide.ui.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name="lidu.me.creditcardguide.ui.WebViewActivity" />
        <activity android:name="lidu.me.creditcardguide.ui.ThreadListActivity" />
        <activity android:name="lidu.me.creditcardguide.ui.ThreadDetailActivity" />
        <activity android:name="lidu.me.creditcardguide.ui.CardDetailActivity" />

    </application>

</manifest>